<a href="https://colab.research.google.com/github/song-na-min/algorithm_study_2022/blob/main/second/greedy/greedy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q4 만들 수 없는 금액

input : n
화폐단위

n개의 동전을 이용해 만들 수 없는 양의 정수 금액 중 최솟값

In [ ]:
def coin(n,arr):
  arr.sort()
  first=arr[0]
  sum=0
  if first!=1:
    return 1
  else:
    for i in arr:
      if first+1>=i:
        first=i
        sum+=i
        #print(first,sum)
      else:#연속된 이후
        if i<=sum+1:
          #print(sum,i)
          sum+=i
        else:
          break
  return sum+1

In [ ]:
arr=[3,2,1,1,9]
n=5
coin(n,arr)

8

In [ ]:
arr=[3,2,9]
n=3
coin(n,arr)

1

In [ ]:
arr=[3,2,1,1,8]
n=5
coin(n,arr)

16

## Q5 볼링공 고르기

input : n m

볼링공의 무게

두 사람이 서로 무게가 다른 볼링공을 골라야한다

In [ ]:
def bowling(n,m,arr):
  count=[0]*(m+1)
  result=0
  for i in arr:
    count[i]+=1
  for j in count:
    n=n-j
    result+=j*n
    #print(j,n,result)
  return result

In [ ]:
n=5
m=3
arr=[1,3,2,3,2]
bowling(n,m,arr)

8

In [ ]:
n=8
m=5
arr=[1,5,4,3,2,4,5,2]
bowling(n,m,arr)

25

## Q6 무지의 먹방 라이브

*프로그래머스 링크
https://programmers.co.kr/learn/courses/30/lessons/42891#

In [ ]:
def solution(food_times, k):
    answer = 0
    
    n=len(food_times)
    low=0
    while k>-1:
        if n<=k:
            k=k-n
            low+=1
            n=n-food_times.count(low)
            #print(k,n,low)
            answer=0
        elif answer==len(food_times):
            answer=-1
            break
        elif food_times[answer]>low:
            k=k-1
            answer+=1
            #print(k,answer)
        elif food_times[answer]<=low:
            answer+=1
#아무것도 안보고 푼 첫 풀이 정확성은 4개 시간초과, 효율성은 다 시간초과

## 신입 사원
https://www.acmicpc.net/problem/1946


언제나 최고만을 지향하는 굴지의 대기업 진영 주식회사가 신규 사원 채용을 실시한다. 인재 선발 시험은 1차 서류심사와 2차 면접시험으로 이루어진다. 최고만을 지향한다는 기업의 이념에 따라 그들은 최고의 인재들만을 사원으로 선발하고 싶어 한다.

그래서 진영 주식회사는, 다른 모든 지원자와 비교했을 때 서류심사 성적과 면접시험 성적 중 적어도 하나가 다른 지원자보다 떨어지지 않는 자만 선발한다는 원칙을 세웠다. 즉, 어떤 지원자 A의 성적이 다른 어떤 지원자 B의 성적에 비해 서류 심사 결과와 면접 성적이 모두 떨어진다면 A는 결코 선발되지 않는다.

이러한 조건을 만족시키면서, 진영 주식회사가 이번 신규 사원 채용에서 선발할 수 있는 신입사원의 최대 인원수를 구하는 프로그램을 작성하시오.

입력:
첫째 줄에는 테스트 케이스의 개수 T(1 ≤ T ≤ 20)가 주어진다. 각 테스트 케이스의 첫째 줄에 지원자의 숫자 N(1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 N개 줄에는 각각의 지원자의 서류심사 성적, 면접 성적의 순위가 공백을 사이에 두고 한 줄에 주어진다. 두 성적 순위는 모두 1위부터 N위까지 동석차 없이 결정된다고 가정한다.

출력:
각 테스트 케이스에 대해서 진영 주식회사가 선발할 수 있는 신입사원의 최대 인원수를 한 줄에 하나씩 출력한다.

In [ ]:
def solution(n):
  arr=[(3,6),(7,3),(4,2),(1,4),(5,7),(2,5),(6,1)]
  arr.sort()
  #print(arr)
  count=0
  min_value2=n+1
  for person in arr:
    if person[0]==1:
      count+=1
      min_value2=person[1]
    if person[1]<min_value2:
      count+=1
      min_value2=person[1]
      #print(person,min_value2)
      #print(count)
  return count
solution(5)

3

In [ ]:
import sys
if __name__=="__main__":
    T=int(sys.stdin.readline())
    for _ in range(T):
        n=int(sys.stdin.readline())
        arr=[]
        for _ in range(n):
            a,b=map(int,sys.stdin.readline().split())
            arr.append((a,b))
        arr.sort()
        count=0
        min_value2=n+1
        for person in arr:
            if person[1]<min_value2:
                count+=1
                min_value2=person[1]
        print(count)
#위 함수에서 test_case를 여러개 입력하도록 수정하고 , 시간초과가 나와서 input을 sys를 사용하도록 수정하였더니 정답이 나왔다
#또한 if person[0]==1부분이 밑에 if person[1]<min_value2 와 중복되므로 삭제하였다. 이유는 처음 min_value2를 n+1로 초기화하여서
#처음에는 무조건 if문 안으로 들어가기 때문

1
5
3 2
1 4
4 1
2 3
5 5
4

## 10610
https://www.acmicpc.net/problem/10610

input : N을 입력받는다. N는 숫자로 구성되어 있으며, 0으로 시작하지 않는다.

output: 포함된 숫자들을 섞어 30의 배수가 되는 가장 큰 수를 출력하라. 그 수가 존재하지 않는다면, -1을 출력하라.

In [16]:
def solution2(n):
  list_n=list(map(int,str(n)))
  print(list_n)
  print(sum(list_n))
  list_n.sort(reverse=True)
  if sum(list_n)%3==0 and list_n[-1]==0:
    print(''.join(map(str,list_n)))
  else:
    return -1

#문제를 제대로 안보고 3의 배수인줄 알았다 그런데 "30"의 배수이므로 마지막으로 0이 오도록 해야한다

In [17]:
n=80875542
solution2(n)

[8, 0, 8, 7, 5, 5, 4, 2]
39
88755420

In [18]:
n=2931
solution2(n)

[2, 9, 3, 1]
15

-1